# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# VS Code (descomenta si querés ignorarlo)
#.vscode/

# Flutter / Dart / Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication / obfuscation
app.*.symbols
app.*.map.json

# Android signing
/android/app/debug
/android/app/profile
/android/app/release
*.jks
*.keystore
android/key.properties
android/local.properties
android/.gradle/

# Backups
pubspec.yaml.bak

# OS
Thumbs.db
